helm-inserter:
  templates:
    istioGW: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: Gateway
      metadata:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "{{ .Values.global.domains.external }}"
        name: istio-ingressgateway
        namespace: {{ .Release.Namespace }}
      spec:
        selector:
          istio: ingressgateway
        servers:
          - port:
              number: 80
              name: http
              protocol: HTTP
            hosts:
              - "*.incloud-idp.{{ .Values.global.domains.internal }}"
              - "*.incloud-netbox.{{ .Values.global.domains.internal }}"
              - "*.incloud-sgroups.{{ .Values.global.domains.internal }}"
              - "*.incloud-web.{{ .Values.global.domains.internal }}"
              - "*.incloud-argocd.{{ .Values.global.domains.internal }}"
              - "*.incloud-console.{{ .Values.global.domains.internal }}"
              - "*.incloud-istio.svc.cluster.local"
          - port:
              number: 443
              name: https
              protocol: HTTPS
            hosts:
              - "*.incloud-idp.{{ .Values.global.domains.internal }}"
              - "*.incloud-netbox.{{ .Values.global.domains.internal }}"
              - "*.incloud-sgroups.{{ .Values.global.domains.internal }}"
              - "*.incloud-web.{{ .Values.global.domains.internal }}"
              - "*.incloud-argocd.{{ .Values.global.domains.internal }}"
              - "*.incloud-console.{{ .Values.global.domains.internal }}"
              - "*.incloud-istio.svc.cluster.local"
            tls:
              mode: SIMPLE
              credentialName: {{ .Release.Name }}-cert-tls

    istioCertificate: |
      ---
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: {{ .Release.Name }}-cert
        namespace: {{ .Release.Namespace }}
      spec:
        duration: {{ .Values.global.certManager.defaults.duration }}
        renewBefore: {{ .Values.global.certManager.defaults.renewBefore }}
        issuerRef:
          group: cert-manager.io
          kind: ClusterIssuer
          name: issuer-selfsigned
        dnsNames:
          - "*.incloud-idp.{{ .Values.global.domains.internal }}"
          - "*.incloud-netbox.{{ .Values.global.domains.internal }}"
          - "*.incloud-sgroups.{{ .Values.global.domains.internal }}"
          - "*.incloud-web.{{ .Values.global.domains.internal }}"
          - "*.incloud-argocd.{{ .Values.global.domains.internal }}"
          - "*.incloud-console.{{ .Values.global.domains.internal }}"
        commonName: "{{ .Release.Namespace }}"
        secretName: {{ .Release.Name }}-cert-tls
