{{- $mainDomain := printf "%s.%s.%s" .Release.Name .Release.Namespace .Values.global.domains.internal -}}

helm-inserter:
  templates:
    SGWebVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ $.Release.Name }}-web-vs
        namespace: {{ $.Release.Namespace }}
      spec:
        hosts:
          - {{ .Release.Name }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}.svc
          - {{ $mainDomain }}
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - name: web
            match:
              - uri:
                  prefix: /client
            rewrite:
              uri: /client
            route:
              - destination:
                  host: {{ $.Release.Name }}-web
                  port:
                    number: 80

          - name: istio-ingress-redirect
            match:
              - uri:
                  prefix: /
            redirect:
              uri: /client
              authority: {{ $mainDomain }}

    SGServerVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ $.Release.Name }}-server-vs
        namespace: {{ $.Release.Namespace }}
      spec:
        hosts:
          - {{ .Release.Name }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}.svc
          - {{ $mainDomain }}
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - name: server
            match:
              - uri:
                  prefix: /server/
            rewrite:
              uri: /
            route:
              - destination:
                  host: {{ $.Release.Name }}-server
                  port:
                    number: 9006

    SGALVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ $.Release.Name }}-al-vs
        namespace: {{ $.Release.Namespace }}
      spec:
        hosts:
          - {{ .Release.Name }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}
          - {{ .Release.Name }}.{{ .Release.Namespace }}.svc
          - {{ $mainDomain }}
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - headers:
              response:
                set:
                  Content-Type: "application/json"
            match:
            - uri:
                exact: apis/proxy.sgroups.io/v1alpha1
            directResponse:
              status: 200
              body:
                string: |
                  {
                    "kind": "APIResourceList",
                    "apiVersion": "v1alpha1",
                    "groupVersion": "sgroups.io/v1alpha1",
                    "resources": [
                      {
                        "name": "rules-s2c-ie",
                        "singularName": "rules-s2c-ie",
                        "namespaced": true,
                        "kind": "rules-s2c-ie",
                        "verbs": [
                          "delete",
                          "deletecollection",
                          "get",
                          "list",
                          "create"
                        ]
                      },
                      {
                        "name": "sync",
                        "singularName": "sync",
                        "namespaced": true,
                        "kind": "sync",
                        "verbs": [
                          "delete",
                          "deletecollection",
                          "get",
                          "list",
                          "create"
                        ]
                      }
                    ]
                  }

          - headers:
              response:
                set:
                  Content-Type: "application/json"
            match:
            - uri:
                exact: /apis/proxy.sgroups.io/v1alpha1/namespaces/sgroups/rules-s2c-ie/rules-test-1
            directResponse:
              status: 200
              body:
                string: |
                  {
                    "apiVersion": "sgroups.io/v1alpha1",
                    "kind": "rules-s2c-ie",
                    "metadata": {
                        "name": "rules-test-1",
                        "namespace": "sgroups",
                        "creationTimestamp": "2024-04-09T11:36:20Z"
                    },
                    "spec": 
                      {
                        "CIDR": "10.0.0.0/8",
                        "ICMP": {
                            "IPv": "IPV4",
                            "Types": [
                                1
                            ]
                        },
                        "SG": "gitlab-runners",
                        "action": "accept",
                        "logs": true,
                        "priority": {
                            "some": 0
                        },
                        "trace": true,
                        "traffic": "ingress"
                      }
                  }

    APIService: |
      ---
      apiVersion: apiregistration.k8s.io/v1
      kind: APIService
      metadata:
        name: v1alpha1.proxy.sgroups.io
        annotations:
          cert-manager.io/inject-ca-from: "{{ $.Release.Namespace }}/{{ $.Release.Name }}-server-tls"
      spec:
        group: proxy.sgroups.io
        version: v1alpha1
        groupPriorityMinimum: 16700
        versionPriority: 15
        service:
          namespace: incloud-istio
          name: istio-ingressgateway
          port: 443
