{{- $mainDomain := printf "%s.%s.%s" .Release.Name .Release.Namespace .Values.global.domains.internal -}}

helm-inserter:
  templates:
    SGWebVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ $.Release.Name }}-web-vs
        namespace: {{ $.Release.Namespace }}
      spec:
        hosts:
          - {{ $mainDomain }}
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - name: web
            match:
              - uri:
                  prefix: /client
            rewrite:
              uri: /client
            route:
              - destination:
                  host: {{ $.Release.Name }}-web
                  port:
                    number: 80

          - name: istio-ingress-redirect
            match:
              - uri:
                  prefix: /
            redirect:
              uri: /client
              authority: {{ $mainDomain }}

    SGServerVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ $.Release.Name }}-server-vs
        namespace: {{ $.Release.Namespace }}
      spec:
        hosts:
          - {{ $mainDomain }}
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - name: server
            match:
              - uri:
                  prefix: /server/
            rewrite:
              uri: /
            route:
              - destination:
                  host: {{ $.Release.Name }}-server
                  port:
                    number: 9006

    APIService: |
      apiVersion: apiregistration.k8s.io/v1
      kind: APIService
      metadata:
        name: v1.sgroups.io
        annotations:
          cert-manager.io/inject-ca-from: "{{ $.Release.Namespace }}/{{ $.Release.Name }}-server-tls"
      spec:
        group: sgroups.io
        version: v1
        groupPriorityMinimum: 16700
        versionPriority: 15
        service:
          namespace: incloud-istio
          name: istio-ingressgateway
          port: 443
