primary:
  persistence:
    enabled: false
  extraVolumeMounts:
    - mountPath: /bitnami/postgresql
      name: dbdata
  extraVolumes:
    - name: dbdata
      hostPath:
        path: /opt/kubernetes/volumes/{{ $.Release.Namespace }}/{{ $.Release.Name }}
        type: Directory
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
