{{- $mainDomain   := printf "%s.%s" .Release.Namespace .Values.global.domains.internal -}}

helm-inserter:
  templates:
    consoleVS: |
      ---
      apiVersion: networking.istio.io/v1alpha3
      kind: VirtualService
      metadata:
        name: {{ .Release.Name }}
        namespace: {{ .Release.Namespace }}
      spec:
        hosts:
          - "console.{{ $mainDomain }}"
        gateways:
          - incloud-istio/istio-ingressgateway
        http:
          - name: {{ .Release.Name }}-console
            match:
              - uri:
                  prefix: /
            route:
              - destination:
                  host: {{ .Release.Name }}-console
                  port:
                    number: 9000
