helm-inserter:
  templates:
    SecretStore: |
      ---
      apiVersion: secrets.crossplane.io/v1alpha1
      kind: StoreConfig
      metadata:
        name: default
      spec:
        defaultScope: {{ .Release.Namespace }}
        kubernetes:
          auth:
            source: Secret
            secretRef:
              name: kubeconfig
              namespace: {{ .Release.Namespace }}
              key: value
        type: Kubernetes
